/* Main Page */

.App {
    text-align: center;
  }
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  .body {
    background-color: #dbdbdb;
    height: 100%;
    margin: 0;
  }
  hr.main-hr {
    background-color: #dbdbdb;
    height: 1px;
    width: 80%;
  }
  .enter-name {
    font-size: 120px;
    color: #dbdbdb;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0 0 30px 0;
  }
  .enter-text {
    color: #81e4ff83;
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 20px 0 20px 0;
  }
  .enter-input {
    margin-bottom: 20px;
    border-radius: 5px;
    text-align: center;
    border: none;
    padding: 10px;
  }
  input:focus {
    outline: none;
  }
  .opening-text {
    margin-bottom: 30px;
  }
  .enter-site {
      padding: 20px 30px 20px 30px;
      border: none;
      border-radius: 5px;
      font-size: 25px;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      text-align: center;
      background-color: rgba(56, 56, 56, 0);
      border: 1px solid white;
      color: white;
  }
  .enter-site:focus {
    outline: 0
  }
  .enter-site:hover {
    border: none;
    background-color: #81e4ff83;
    color: white;
  }

  /* Home page */

  .home-welcome-text {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    padding-bottom: 3%;
    padding-top: 3%;
  }
  .home-welcome-text h1 {
    font-size: 100px;
    margin-top: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  .home-welcome-text p {
    font-size: 25px;
    margin-left: 10%;
    margin-right: 10%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  .small-hr {
    background-color: black;
    height: 1px;
    width: 60%;
    margin-top: 30px;
    margin-bottom: 40px;
  }
  .react-logo {
    height: 15%;
    width: 15%;
  }
  .react-native-logo {
    height: 25%;
    width: 25%;
  }
  .graphql-logo {
    height: 16%;
    width: 16%;
  }
  .mongo-logo {
    height: 17%;
    width: 17%;
  }
  .react-logo:hover {
    opacity: .5;
  }
  .react-native-logo:hover {
    opacity: .5;
  }
  .graphql-logo:hover {
    opacity: .5;
  }
  .mongo-logo:hover {
    opacity: .5;
  }
  .more-projects {
    margin-top: 1%;
  }
  .home-page-main {
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: #e0dfdf;
  }
  .home-page-main p {
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  .framework-logos img {
    margin: 2.5%;
  }
  .home-about {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    padding-bottom: 3%;
    padding-top: 3%;
  }
  .home-about h2 {
    font-size: 80px;
    margin-top: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  .home-about p {
    font-size: 25px;
    margin-left: 10%;
    margin-right: 10%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  .home-about-image {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 1%;
    padding-right: 7%;
    /* padding-top: 5%; */
    padding-bottom: 5%;
    background-color: #e0dfdf;
    border: 2px solid red;
    justify-content: initial;
  }
  .home-about-image img {
    width: 35%;
    height: 35%;
    margin-left: 1%;
  }
  .about-me-button {
    background-color: #e0dfdf;
    padding-bottom: 5%;
  }

  /* Global Styles */

  /* Navigation Bar */

  div.dropdown-menu.dropdown-menu-right.show {
    background-color: rgb(52, 58, 64, 0.95);
    margin-top: 30px;
  }
  button.dropdown-item:hover {
    background-color: rgb(52, 58, 64, 0.5)
  }
  nav.navbar.navbar-expand-md.navbar-dark.bg-dark {
    padding: 20px 20px 20px 20px;
  }
  a.navbar-brand {
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .navbar-brand {
    color: rgba(255,255,255,.7) !important;
  }

  .page-button {
    padding: 20px 30px 20px 30px;
    border: none;
    border-radius: 5px;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: rgba(56, 56, 56, 0);
    border: 1px solid black;
    color: black;
  }
  .page-button:hover {
    border: none;
    background-color: #0a6b86;
    color: white;
    cursor: pointer;
  }
  .page-button:focus {
    outline: 0
  }